html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

div.ol-popup {
    background: #FFFFFF;
}

.popup-attribute-key {
    font-weight: bold;
    color: #000000;
}

.popup-attribute-value {
    color: #000000;
}

.ol-mouse-position {
    right: 0px;
    top: 0px;
    padding: 2px;
    background: #FFFFFF;
    color: #000000;
}

.ol-zoom {
    top: 40px;
}

.ol-zoom-extent {
    top: 90px;
}

.ol-attribution {
    background: #FFFFFF !important;
}

.layer-switcher {
    background: #FFFFFF;
    color: #000000;
}

.ol-zoomslider {
    top: 120px;
}